# -----------------------------
# Global ignores
# -----------------------------
.DS_Store
.env
.venv/
.vscode/
.idea/
.github/workflows/*

# -----------------------------
# Python (model/)
# -----------------------------
model/__pycache__/
model/venv/
model/artifacts/
model/*.csv
model/*.joblib
model/.python-version

# -----------------------------
# Java / Gradle (backend/)
# -----------------------------
backend/.idea/
backend/.gradle/
backend/gradle/
backend/temp/
backend/tmp/
backend/target/
backend/build/
!backend/build/libs/
!backend/build/libs/fraud-backend.jar

backend/lib/
backend/cdk.out/
backend/gradlew
backend/gradlew.bat

# -----------------------------
# CDK (Infrastructure)
# -----------------------------
cdk/.gradle/
cdk/build/
cdk/bin/
cdk/cdk.out/
cdk/gradle/
cdk/gradlew
cdk/gradlew.bat
cdk/api-outputs.json

# -----------------------------
# Frontend (React / Expo)
# -----------------------------
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.expo/
frontend/.expo-shared/
frontend/.DS_Store

frontend-web/node_modules/
frontend-web/dist/
frontend-web/.expo/
frontend-web/.expo-shared/
frontend-web/web-build/
frontend-web/build/
frontend-web/build/*
frontend-web/.DS_Store

# -----------------------------
# Miscellaneous / Logs
# -----------------------------
*.log
*.tmp
*.class
*.bak
*.swp
*.iml
CLAUDE.md
