.venv/
.vscode/
model/model.joblib
.DS_Store
backend/build/reports/problems/problems-report.html
cdk/build/tmp/compileJava/previous-compilation-data.bin
model/fraudTest.csv
model/fraudTrain.csv
model/artifacts/FraudBackendStack-Tanush/model.joblib
backend/build/tmp/buildLambda/MANIFEST.MF
backend/build/scripts/backend.bat
cdk/build/tmp/compileJava/previous-compilation-data.bin
backend/build/tmp/compileJava/previous-compilation-data.bin
.env
./.env
.venv
/.idea/compiler.xml
/.idea/fraud-detection-capstone.iml
/backend/build/classes/java/main/com/fraud/lambda/FraudLambdaHandler$BadRequestException.class
/backend/build/classes/java/main/com/fraud/lambda/FraudLambdaHandler$UnauthorizedException.class
*.class
/.idea/gradle.xml
/cdk/gradlew
/cdk/gradlew.bat
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
.github/
CLAUDE.md
